// Elevations
@each $name, $value in $elevations {
  .dp-#{$name}{
  background: elevation($light-color, $value);
  }
}

// Backgrounds primary color
@each $name, $value in $primaryColors {
  .bg-#{$name}{
    background-color: $value;
  }
}

// Backgrounds secondary color
@each $name, $value in $secondaryColors {
  .bg-#{$name}{
    background-color: $value;
  }
}

.bg-transparent{
  background-color: $transparent;
}

// Shadows
.material-shadow{
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}

// High emphasis

.high-em {
  color: $high-emphasis-surface;
}