.font-header-1 {
	font-family: $generalFontFamily;
	font-weight: bold;
	font-size: 64px;
}

.font-header-2 {
	font-family: $generalFontFamily;
	font-weight: 600;
	font-size: 32px;
}

.font-header-3 {
	font-family: $generalFontFamily;
	font-weight: 600;
	font-size: 24px;
}

.font-header-4 {
	font-family: $generalFontFamily;
	font-weight: 600;
	font-size: 21px;
}

.font-regular {
	font-family: $generalFontFamily;
	font-weight: regular;
	font-size: 16px;
	line-height: normal;
}

.font-small {
	font-family: $generalFontFamily;
	font-weight: regular;
	font-size: 12px;
}