h1 {
  margin: 0;
}

p {
  margin: 0;
}

.font-header-1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.font-header-2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.font-header-3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.font-header-4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 21px;
}

.font-regular {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: normal;
}

.font-small {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: regular;
  font-size: 12px;
}

.dp-0 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), #121212;
}

.dp-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0.05))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
}

.dp-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.07)), to(rgba(255, 255, 255, 0.07))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #121212;
}

.dp-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.08)), to(rgba(255, 255, 255, 0.08))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #121212;
}

.dp-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.09)), to(rgba(255, 255, 255, 0.09))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), #121212;
}

.dp-6 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.11)), to(rgba(255, 255, 255, 0.11))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), #121212;
}

.dp-8 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #121212;
}

.dp-12 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0.14))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14)), #121212;
}

.dp-16 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212;
}

.dp-24 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.16)), to(rgba(255, 255, 255, 0.16))), #121212;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
}

.bg-primary-900 {
  background-color: #23036A;
}

.bg-primary-800 {
  background-color: #30009C;
}

.bg-primary-700 {
  background-color: #3700B3;
}

.bg-primary-600 {
  background-color: #5600E8;
}

.bg-primary-500 {
  background-color: #6200EE;
}

.bg-primary-400 {
  background-color: #7F39FB;
}

.bg-primary-300 {
  background-color: #985EFF;
}

.bg-primary-200 {
  background-color: #BB86FC;
}

.bg-primary-100 {
  background-color: #DBB2FF;
}

.bg-primary-050 {
  background-color: #F2E7FE;
}

.bg-secondary-900 {
  background-color: #005457;
}

.bg-secondary-800 {
  background-color: #017374;
}

.bg-secondary-700 {
  background-color: #018786;
}

.bg-secondary-600 {
  background-color: #019592;
}

.bg-secondary-500 {
  background-color: #01A299;
}

.bg-secondary-400 {
  background-color: #00B3A6;
}

.bg-secondary-300 {
  background-color: #00C4B4;
}

.bg-secondary-200 {
  background-color: #03DAC5;
}

.bg-secondary-100 {
  background-color: #70EFDE;
}

.bg-secondary-050 {
  background-color: #C8FFF4;
}

.bg-transparent {
  background-color: transparent;
}

.material-shadow {
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.high-em {
  color: rgba(255, 255, 255, 0.87);
}

.m-0 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.m-5 {
  margin: 0.5rem;
}

.p-5 {
  padding: 0.5rem;
}

.m-10 {
  margin: 1rem;
}

.p-10 {
  padding: 1rem;
}

.m-15 {
  margin: 1.5rem;
}

.p-15 {
  padding: 1.5rem;
}

.m-20 {
  margin: 2rem;
}

.p-20 {
  padding: 2rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.mt-5 {
  margin-top: 0.5rem;
}

.pt-5 {
  padding-top: 0.5rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.pr-5 {
  padding-right: 0.5rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.pb-5 {
  padding-bottom: 0.5rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.pl-5 {
  padding-left: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
}

.pt-10 {
  padding-top: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.pr-10 {
  padding-right: 1rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.ml-10 {
  margin-left: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.ml-15 {
  margin-left: 1.5rem;
}

.pl-15 {
  padding-left: 1.5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.pt-20 {
  padding-top: 2rem;
}

.mr-20 {
  margin-right: 2rem;
}

.pr-20 {
  padding-right: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.ml-20 {
  margin-left: 2rem;
}

.pl-20 {
  padding-left: 2rem;
}

.debug {
  outline: 1px solid red;
}

.body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

.login-box {
  width: 945px;
  height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside_title {
  display: block;
  line-height: 0.9;
}

.input {
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  padding: .7rem 0;
  color: rgba(255, 255, 255, 0.87);
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}

.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}

.input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.38);
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_form-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_form {
  height: 370px;
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.login_btn {
  display: inline-block;
  padding: 1.4rem 4rem;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.login_forgot-pw:hover {
  color: rgba(255, 255, 255, 0.87);
}

.alert_content {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}

.pficon-error-circle-o:before {
  color: #CF6679;
}
/*# sourceMappingURL=login.css.map */