@import "../../../../../styles/main";


.body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
}

.login-box {
	width: 945px;
	height: 524px;
	display: flex;
}

.login-title, .login-form {
	width: 50%;
}

.form--card {
	height: 100%;
	padding: 52px;
}
 