@import "../../../../../styles/main";

.debug{
	outline: 1px solid red;
}

.body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
}

.login-box {
	width: 945px;
	height: 524px;
	display: flex;
}

.login-title{
	width: 50%;
}

.input{
	display: inline-block;
	border:none;
	outline: none;
	border-bottom:1px solid $high-emphasis-surface;
	padding: .7rem 0;
	color: $high-emphasis-surface;

	&::placeholder{
		color: $disable-emphasis-surface;
	}
}


.login{

	&_form-container{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&_form{
		height: 370px;
		width: 378px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&_form-group{
		display: flex;
		flex-direction: column;
	}

	&_title{}

	&_description{
		margin-top: .8rem;
	}

	&_footer {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&_btn{
		display: inline-block;
		padding: 1.4rem 4rem;
		text-align: center;
		border-radius: 5px;
		text-transform: uppercase;
		color: $high-emphasis-primary;
		border: none;
		font-size: 1.6rem;
		font-weight: 600;
	}

	&_forgot-pw{

		&:hover {
			color: $high-emphasis-surface;
		}
	}
}