// Colors
$light-color: rgb(255,255,255);
$high-emphasis-surface: rgba($light-color, 0.87);
$medium-emphasis-surface: rgba($light-color, 0.60);
$disable-emphasis-surface: rgba($light-color, 0.38);

$dark-color: rgb(0, 0, 0);
$high-emphasis-primary: rgba($dark-color, 1);
$medium-emphasis-primary: rgba($dark-color, 0.74);
$disable-emphasis-primary: rgba($dark-color, 0.38);

$primaryColors: (
  primary-900: #23036A,
  primary-800: #30009C,
  primary-700: #3700B3,
  primary-600: #5600E8,
  primary-500: #6200EE,
  primary-400: #7F39FB,
  primary-300: #985EFF,
  primary-200: #BB86FC,
  primary-100: #DBB2FF,
  primary-050: #F2E7FE
);

$secondaryColors:(
  secondary-900: #005457,
  secondary-800: #017374,
  secondary-700: #018786,
  secondary-600: #019592,
  secondary-500: #01A299,
  secondary-400: #00B3A6,
  secondary-300: #00C4B4,
  secondary-200: #03DAC5,
  secondary-100: #70EFDE,
  secondary-050: #C8FFF4
);


// Error
$error-color: #CF6679;

// Background & surface
$background-color: #121212;
$surface-color:#121212;
$transparent: transparent;

// Breakpoints
$breakpoints:(
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xl2:1920px
);

// Z-index
$z-index:(
  z-back:-10,
  z-normal:1,
  z-tooltip:10,
  z-fixed:100,
  z-modal:1000,
);

// Elevations
$elevations: (
  0: 0,
  1:0.05,
  2:0.07,
  3:0.08,
  4:0.09,
  6:0.11,
  8:0.12,
  12:0.14,
  16:0.15,
  24:0.16,
  );

// Fonts
$generalFontFamily: 'Source Sans Pro', sans-serif;
// $generalFontFamily: .....

$sides: (top, right, bottom, left);

$spaceamounts: (
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px
);
